<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://FortressVoucherApiLoadTesting.beingbuilt.uk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ft-ws-1.flintstudios.net</MSDeployServiceURL>
    <DeployIisAppPath>FortressVoucherApiLoadTesting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>developers</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FortressCodesContext" Order="1" Enabled="False">
          <Destination Path="Data Source=ft-sql-1.flintstudios.net;Initial Catalog=aspnet-FortressVoucherAdminTool-20150417013621;Persist Security Info=True;User ID=sa;Password=s22YlR6c3HKWVzfun10X;Application Name=EntityFramework" Name="data source=ft-sql-1.flintstudios.net;initial catalog=aspnet-FortressVoucherAdminTool-20150417013621;persist security info=True;user id=sa;password=s22YlR6c3HKWVzfun10X;MultipleActiveResultSets=True;App=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FortressCodesApi.DbModels.FortressCodesContext, FortressCodesApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FortressCodesContextDino" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DINO;Initial Catalog=aspnet-FortressVoucherAdminTool-20150417013621;Persist Security Info=True;User ID=sa;Password=F113ntsp;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FortressCodesContextDino_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DINO;initial catalog=aspnet-FortressVoucherAdminTool-20150417013621;persist security info=True;user id=sa;password=F113ntsp;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FortressCodesContext-Web.config Connection String">
      <ParameterValue>data source=ft-sql-1.flintstudios.net;initial catalog=aspnet-FortressVoucherAdminTool-20150417013621;persist security info=True;user id=sa;password=s22YlR6c3HKWVzfun10X;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FortressCodesContextDino-Web.config Connection String" />
  </ItemGroup>
</Project>