<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iosapitest.yourfortress.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ft-ws-1.flintstudios.net</MSDeployServiceURL>
    <DeployIisAppPath>FortressVoucherApiTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>developers</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FortressContext" Order="3" Enabled="False">
          <Destination Path="Data Source=ft-sql-1.flintstudios.net;Initial Catalog=FortressSystemStaging;User ID=sa;Password=s22YlR6c3HKWVzfun10X;Application Name=EntityFramework" Name="Data Source=ft-sql-1.flintstudios.net;Initial Catalog=FortressSystemStaging;User ID=sa;Password=s22YlR6c3HKWVzfun10X;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FortressDomain.Db.FortressContext, FortressDomain" MigrationConfiguration="FortressDomain.Migrations.Configuration, FortressDomain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FortressCodeContext" Order="4" Enabled="False">
          <Destination Path="Data Source=ft-sql-1.flintstudios.net;Initial Catalog=FortressVoucherAdmin-Staging;User ID=fortressweb;Password=bewssertrof_fntstd;Application Name=EntityFramework" Name="data source=ft-sql-1.flintstudios.net;initial catalog=FortressVoucherAdmin-Staging;user id=fortressweb;password=bewssertrof_fntstd;MultipleActiveResultSets=True;App=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FortressCodesDomain.DbModels.FortressCodeContext, FortressCodesDomain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FortressCodeContext-Web.config Connection String">
      <ParameterValue>data source=ft-sql-1.flintstudios.net;initial catalog=FortressVoucherAdmin-Staging;user id=fortressweb;password=bewssertrof_fntstd;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FortressContext-Web.config Connection String">
      <ParameterValue>Data Source=ft-sql-1.flintstudios.net;Initial Catalog=FortressSystemStaging;User ID=sa;Password=s22YlR6c3HKWVzfun10X;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>